### for loop

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [3]:
x=10
for i in range(5):
    print(x)

10
10
10
10
10

In [4]:
x=10
for i in range(5):
    x=20
    print(x)

20
20
20
20
20

In [5]:
x=10
for i in range(5):
    print(x)
print(i)

10
10
10
10
10
4

In [6]:
x=10
for i in range(5):
    x=20
    print(x)
print(x)

20
20
20
20
20
20

In [7]:
x=10
for i in range(5):
    print(i,x)

0 10
1 10
2 10
3 10
4 10

In [8]:
def display():
    num=3
    s=10
    for i in range(s+1):
        print("%dX%d=%d"%(num,i,num*i))
display()

3X0=0
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

 ### Nested for loop

In [9]:
for i in range(4):
    for j in range(3):
        print(j)
    print()

0
1
2

0
1
2

0
1
2

0
1
2

In [10]:
for i in range(4):
    for j in range(3):
        print(i)
    print()

0
0
0

1
1
1

2
2
2

3
3
3

In [11]:
for i in range(4):
    for j in range(3):
        print(i)
    print("hi")

0
0
0
hi
1
1
1
hi
2
2
2
hi
3
3
3
hi

In [12]:
for i in range(3):
    for j in range(3):
        print(i, end=" ")
    print("hi")

0 0 0 hi
1 1 1 hi
2 2 2 hi

In [13]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [14]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
    print("*")

*
1 *
2 2 *
3 3 3 *
4 4 4 4 *

In [15]:
for i in range(5):
    for j in range(i):
        print(" ",end=" ")
    print("*")

*
  *
    *
      *
        *

In [16]:
for i in range(5):
    for j in range(i):
        print(j,end=" ")
    print("*")

*
0 *
0 1 *
0 1 2 *
0 1 2 3 *

In [17]:
for i in range(5):
    for j in range(i):
        print(i,end="* ")
    print()

1*
2* 2*
3* 3* 3*
4* 4* 4* 4*

In [18]:
for i in range(5):
    for j in range(2):
        print(i,end=" ")
    print()

0 0
1 1
2 2
3 3
4 4

In [19]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
print()

1 2 2 3 3 3 4 4 4 4

In [20]:
for i in range(5):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [21]:
for i in range(1,11):
    if(i%2==0):
        print(i)

2
4
6
8
10

In [22]:
for i in range(1,11):
    if(i%2!=0):
        print(i)

1
3
5
7
9

In [23]:
def display(n):
    for i in range(n+1):
        for j in range(i):
            print(i,end=' ')
        print()
display(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
def numbers(x):
    even=[]
    odd=[]
    for i in x:
        if(i%2==0):
            even.append(i)
        else:
            odd.append(i)
    print(even)
    print(odd)
numbers(range(1,20))

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
def odd_num(l):
    count=0
    for i in l:
        if(i%2==1):
            count+=1
    print(count) 
odd_num([1,2,3,4,5,6,7,8])

4

In [26]:
l=[]
for i in [10,20,30]:
    for j in [1,2,3]:
        l.append(i+j)
    print(l)

[11, 12, 13]
[11, 12, 13, 21, 22, 23]
[11, 12, 13, 21, 22, 23, 31, 32, 33]